.login-blob-bg {
    background-image: url("./blob-scene.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-btn-group {
    width: 100%;
}

.login-toggle-choice {
    flex: 1;
}